
.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

[class$=link]:hover {
	color: #2f80ed;
}

.logo {
	width: 183px;
}

/*Шапка сайта*/
.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    /* выше установили ограничения для секции */
}

.logo_place_header {
	height: 32px;
	position: absolute;
	left: 64px;
	top: 30px;
}

.header__title {
	margin-left: 64px;
	align-self: center;
	width: 730px;
	font-size: 102px;
	line-height: 96px;
	font-weight: bold;
	z-index: 2;
}

.header__subtitle {
	width: 388px;
	position: absolute;
	bottom: 30px;
	left: 64px;
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	z-index: 2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__main-illustration {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 765px;
	height: 608px;
	z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    right: 0;
    top: 64px;
}

.header__link {
	color: #2F80ED;
	text-decoration: none;
}

.header__link:hover {
	text-decoration: underline;
}

/*Первая секция*/
/*Тут задаю 100px между шапкой и секцией*/
.description {
	display: flex;
	justify-content: center;
	padding: 100px 0;
}

.two-columns {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.two-columns__brief {
	margin: 0;
	width: 175px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	color: #2F80ED;
}

.two-columns__main-text {
	width: 80%;
	min-width: 784px;
}

.two-columns__paragraph {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

.two-columns__paragraph:nth-of-type(2) {
	padding: 30px 0;
}

.two-columns__span-accent {
	line-height: 34px;
	font-size: 24px;
	font-weight: bold;
}

/*Вторая секция*/
/*Задаю расстояние между секцией 2 и 3*/
.digits {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-title {
	width: 60%;
	line-height: 69px;
	font-size: 60px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.section-subtitle {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0 0;
	width: 60%;
	text-align: center;
}

.table {
	display: flex;
	width: 1100px;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.table__cell {
	width: 250px;
    margin-top: 60px;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	margin: 0
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	margin: 20px 0 0;
}

/*Третья секция*/
.feinman {
	padding-top: 100px;
	background-color: #f2f2f2;
	background-image: url(../images/feinman.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 867px 637px;
	position: relative;
	height: 790px;
	display: flex;
	flex-direction: column;
}
.feinman__title {
	width: 648px;
	text-align: center;
	align-self: center;
	margin: 0;
	z-index: 2;
	line-height: 1.15;
	font-size: 120px;
	font-weight: bold;
}

.feinman__subtitle {
	margin: 70px 0 0;
	align-self: center;
	z-index: 2;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
}

.feinman__link {
	position: absolute;
	top: 50%;
	right: 48px;
	z-index: 2;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
}

/* Четвертая секция */
.kaufman {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark {
	color: white;
}

.section-subtitle_theme_dark {
	color: white;
}

/*Стиль абсолютно идентичен .table*/
.table_theme_dark {
	}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 2;
}

/*Стиль абсолютно идентичен .table__heading*/
.table__heading_theme_dark {
}

/*Аналогичен с .table__text*/
.table__text_theme_dark {
}


.kaufman__triangle {
	position: absolute;
	right: -210px;
	top: 0;
	height: 877px;
	width: 877px;
	z-index: 1;
}

/*Подвал*/

.footer {
	background-color: #1f1f1f;
	min-height: 350px;
	padding: 60px 0 40px;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
}

.footer__columns {
	width: 90%;
	justify-content: space-between;
	color: white;
	margin: 0 auto;
	display: flex;
}

.footer__column {
	display: flex;
	flex-direction: column;
}

.footer__column_content_copyright {
	flex-basis: 771px;
	justify-content: space-between;
}

.logo_place_footer {
	height: 35px;
}

.footer__author {
	margin: 18px 0;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}
/*Пустые правила*/
.footer__column_content_info {
}

.footer__column_content_social {
}

.footer__column-heading {
	margin: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}

.footer__column-links {
	display: flex;
	flex-direction: column;
	margin: 20px 0 16px;
	padding: 0;
}

.footer__link {
	text-decoration: none;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
	color: white;
}

.footer__social-icon{
	margin-right: 10px;
	height: 16px;
	width: 16px;
}




